In [3]:
import numpy as np
import pandas as pd
import sys
import os
import re

In [4]:
movies = pd.read_csv('movies-dataset.csv')

    1. Can you print the first 10 records.

In [9]:
movies.iloc[0:11]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007


    2. What are the data types of the columns.

In [15]:
movies.dtypes #or movies.info()

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object


    3. Count of Animation movies.
    (Hint: use the count() function)

In [108]:
movies['Genre'].value_counts()[3]

4


    4. Show the Comedy movies in the year 2007.

In [82]:
movies[(movies['Genre'] == 'Comedy') & (movies['Year'] == 2007)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007


    5. Count of Animation movies with more than 70% Audience Score.

In [115]:
movies[(movies['Genre'] == 'Animation') & (movies['Audience score %'] > 70)].count()[0]

2

In [110]:
movies[['Genre', 'Audience score %']]

      Genre  Audience score %
0   Romance                70
1    Comedy                52
2    Comedy                35
3    Comedy                44
4    Comedy                72
..      ...               ...
72  romance                84
73    Drama                64
74    Drama                89
75   Comedy                71
76   comedy                81

[77 rows x 2 columns]


    6. Show the list of top 5 movies based on profitability.

In [157]:
movies.sort_values(by = 'Profitability', ascending = False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008


    7. Show the top 5 Comedy movies approved by the audience. (hint : Audience Score)

In [161]:
movies[movies['Genre'] == 'Comedy'].sort_values(by = 'Audience score %', ascending = False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008

Sort_values could be also passed a llist of column name, ascending kwarg could also receive a list, refering to each column being sorted

Always check the name of columns by using DataFrame.columns and then assigning the new columns to DataFrame.columns

When the header of the table is missing, 
so when using pd.read_csv('filename', header = None) use kwarg header = None. You could always use DataFrame.columns to add/change the header<br>
when saving to a new data frame, use rest_index(replace = True, drop = True) if need to reset indexes

Group by

In [156]:
mv_group = movies.groupby('Year')
data_2008 = mv_group.get_group(2008)
data_2008

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
47,Made of Honor,Comdy,Sony,61,2.649068,13,$105.96,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008