In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import seaborn as sns

In [2]:
df_dslr=pd.read_csv('datasets/ecom-sales_data/ecom-sales/dslr.csv')
df_keyboard=pd.read_csv('datasets/ecom-sales_data/ecom-sales/keyboard.csv')
df_monitor=pd.read_csv('datasets/ecom-sales_data/ecom-sales/monitor.csv')
df_mouse=pd.read_csv('datasets/ecom-sales_data/ecom-sales/mouse.csv')
df_processor=pd.read_csv('datasets/ecom-sales_data/ecom-sales/processor.csv')
df_smartphone=pd.read_csv('datasets/ecom-sales_data/ecom-sales/smartphone.csv')
df_sales=pd.read_csv('datasets/ecom-sales_data/ecom-sales/sales.csv')

In [3]:
# show shape
display(df_dslr.shape)
# check for missing values
display(df_dslr.isna().sum())
# show columns
display(df_dslr.columns)
# show first 2 values
display(df_dslr.head(2))

(2464, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,AmazonBasics 60-Inch Lightweight Tripod with Bag,https://www.amazon.com/AmazonBasics-60-Inch-Li...,4.5 out of 5 stars,"27,293",25.99
1,Canon EOS Rebel T7 DSLR Camera Bundle with Can...,https://www.amazon.com/Canon-EOS-Rebel-0-709-2...,4.5 out of 5 stars,28,454.99

In [4]:
# show shape
display(df_keyboard.shape)
# check for missing values
display(df_keyboard.isna().sum())
# show columns
display(df_keyboard.columns)
# show first 2 values
display(df_keyboard.head(2))

(3355, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,AmazonBasics USB Wired Computer Keyboard and W...,https://www.amazon.com/AmazonBasics-Wired-Comp...,4.4 out of 5 stars,"4,656",$14.99
1,Dell Wired Keyboard - Black KB216 (580-ADMT),https://www.amazon.com/Dell-Wired-Keyboard-Bla...,4.5 out of 5 stars,"4,565",$18.60

In [5]:
# show shape
display(df_monitor.shape)
# check for missing values
display(df_monitor.isna().sum())
# show columns
display(df_monitor.columns)
# show first 2 values
display(df_monitor.head(2))

(398, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,Portable Monitor - 15.6-Inch USB-C Portable Di...,https://www.amazon.com/gp/slredirect/picassoRe...,4.7 out of 5 stars,231,$185.99
1,BenQ IPS Entertainment Monitor with HDMI conne...,https://www.amazon.com/gp/slredirect/picassoRe...,2.5 out of 5 stars,5,$549.99

In [6]:
# show shape
display(df_mouse.shape)
# check for missing values
display(df_mouse.isna().sum())
# show columns
display(df_mouse.columns)
# show first 2 values
display(df_mouse.head(2))

(2151, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,"Computer Wireless Mouse, WISFOX Wireless Ergon...",https://www.amazon.com/gp/slredirect/picassoRe...,4.6 out of 5 stars,614,$12.99
1,Wireless Mouse 2.4G Jelly Comb Computer Mouse ...,https://www.amazon.com/gp/slredirect/picassoRe...,4.4 out of 5 stars,482,$9.99

In [7]:
# show shape
display(df_processor.shape)
# check for missing values
display(df_processor.isna().sum())
# show columns
display(df_processor.columns)
# show first 2 values
display(df_processor.head(2))

(1190, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,EVanlak DispalyPort Headless Ghost Display Emu...,https://www.amazon.com/gp/slredirect/picassoRe...,5.0 out of 5 stars,7,$16.99
1,"AMD Ryzen 5 3600 6-Core, 12-Thread Unlocked De...",https://www.amazon.com/AMD-Ryzen-3600-12-Threa...,4.8 out of 5 stars,"5,045",$171.89

In [8]:
# show shape
display(df_smartphone.shape)
# check for missing values
display(df_smartphone.isna().sum())
# show columns
display(df_smartphone.columns)
# show first 2 values
display(df_smartphone.head(2))

(3237, 5)

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

Index(['title', 'url', 'rating', 'review_count', 'price'], dtype='object')

,title,url,rating,review_count,price
0,"POPTEL P10 Rugged Cell Phones Unlocked, IP68 W...",https://www.amazon.com/gp/slredirect/picassoRe...,3.7 out of 5 stars,6,$189.99
1,Moto G8 Play | Unlocked | International GSM on...,https://www.amazon.com/Motorola-Moto-Play-XT20...,3.9 out of 5 stars,164,$130.00

In [9]:
# show shape
display(df_sales.shape)
# check for missing values
display(df_sales.isna().sum())
# show columns
display(df_sales.columns)
# show first 2 values
display(df_sales.head(2))
df_sales.dropna(subset=['Description'], inplace=True,)
df_sales.reset_index(inplace=True, drop=True)

(541909, 8)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135024
Country             0
dtype: int64

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,78536365,85123A,"Apple iPhone X, 256GB, Silver - Fully Unlocked...",6,2018-12-01 08:26:00,2.55,17850.0,DE
1,78536365,71053,"3M Precise Mouse Pad with Gel Wrist Rest, Soot...",6,2018-12-01 08:26:00,3.39,17850.0,DE

## preprocessing: Changing rating of products to float, review_count to int and price to float

In [10]:
import re

products=[(df_dslr,'dslr'),
(df_keyboard,'keyboard'),
(df_monitor,'monitor'),
(df_mouse,'mouse'),
(df_processor,'processor'),
(df_smartphone,'smartphone')]

for product in products:
    product[0]['rating']=product[0]['rating'].apply(lambda x: round(float(x.split(' out')[0]),2))
    product[0]['review_count']=product[0]['review_count'].apply(lambda x: int(''.join(x.split(','))))
    product[0]['price']=product[0]['price'].apply(lambda x: round(float(re.sub('[^1-9.]','',x)),2))
    product[0]['product_type']=product[1]
    # product[0].to_csv(f'assignment-03/project-ecommerce/datasets/ecom-sales_data/ecom-sales{product[1]}_processed.csv')


df_products=pd.concat([df[0] for df in products])
df_products.reset_index(inplace=True)
df_products.rename(columns={'index':'orgnl_index'})
df_products.drop_duplicates(inplace=True,ignore_index=True)

In [25]:
print(df_products.shape)

(12795, 7)

## update all unit prices on sales database

In [ ]:
# import re

# WRITING EXEPTIONS TO ERROR FILE

import sys
import types
from datetime import datetime

# USED FOR WRITING IN LOG FILE
sep='#'*30

# use hashtable to map from product description to {formatted_description, indices}
dict_sold_products = {}

def replace_description(s):
  try:
    s=re.sub('( \+ )|( \- )|(, )|( \| )','*-*',s)
    s=re.sub('\s','*-*',s)
    return s
  except:
    print(ind, s, type(s))
    raise TypeError

for ind, row in df_sales.iterrows():
  description=df_sales.at[ind, 'Description']
  if description in dict_sold_products.keys():
    dict_sold_products[description]['indices'].append(ind)
  else:
    dict_sold_products[description]={}
    dict_sold_products[description]['description']=description
    dict_sold_products[description]['formatted_description']=replace_description(description)
    dict_sold_products[description]['price']=row['UnitPrice']
    dict_sold_products[description]['indices']=[ind]

unmatched_sales=[]
multiple_match_sales=[]
# items_without_description=[]

# see if Description contains a keyword ['dslr', 'keyboard','monitor','mouse','processor','smartphone','iphone','ipad','tablet'] and search in the appropriate dataset

counter=1

with open('log3.txt','w') as logfile, open(f'error_log_{datetime.now()}.txt', 'w') as errlog:
    logfile.write(f'sep\nBEGIN ITERATION\n\n')
    print(len(list(dict_sold_products.values())))
    df_match_target=df_products.copy()
    for description,values in list(dict_sold_products.items()):
      try:
        if type(values['description'])==str:
          #split the product description by '*-*'
          list_item_description = values['formatted_description'].split('*-*')
          item_name=' '.join(list_item_description)

          ############################### #TESTING ###############################
          logfile.write('\t\tDescribing Items\n')
          logfile.write(f'description: {list_item_description}\n')
      ############################### #end tetsing ###############################

          pre_pattern = ''.join(['\\' + c if c in '[]().^+$*?{},\\|<>#!=/' else c for c in list_item_description[0]])
          pattern = '(?=.*'+pre_pattern+')'
          pattern_index = 0
          # pre_pattern = ''.join(['\\' + c if c in '[]().^+$*?{},\\|<>#!=/' else c for c in list_item_description[pattern_index]])
          match = df_match_target[df_match_target.stack().str.contains(pattern,case=False,regex=True).groupby(level=0).any()]
          # while the number of matching rows is larger than 1 or there are more patterns to match to

          #             ############################## #TESTING ###############################
          logfile.write('\t\tCurrent pattern, iteration and matches\n')
          logfile.write(f'pattern: {pattern} pattern index: {pattern_index} matches: {match.shape[0]}\n')
          logfile.write(f'{match.shape[0]>1} {pattern_index<len(list_item_description)}\n')
  ############################## #end tetsing ###############################
          while match.shape[0]>1 and pattern_index<len(list_item_description)-1:
            # add a match group to the pattern
            pattern_index+=1
            pre_pattern = ''.join(['\\' + c if c in '[]().^+$*?{},\\|<>#!=/' else c for c in list_item_description[pattern_index]])
            pattern += '(?=.*'+pre_pattern+')'

  #           ############################## #TESTING ###############################
            logfile.write(f'\t\tCurrent pattern, iteration and matches\n')
            logfile.write(f'pattern: {pattern}, pattern index: {pattern_index}, matches: {match.shape[0]}\n')
# ############################## #end tetsing ###############################

            match = match[match.stack().str.contains(pattern,case=False,regex=True).groupby(level=0).any()]
          if pattern_index == len(list_item_description)-1:
            match.sort_values('review_count', ascending=False, inplace=True)
            match.drop_duplicates(inplace=True, subset=['title','price'], keep='first')
            #try groupby.keep_first()


          if match.shape[0]==1:
          # change the price of the matched item
            ############################### #TESTING ###############################
            logfile.write(f'{sep}\n\t\t\tMATCH FOUND\n{sep}\n')
            # logfile.write(f'pattern: {pattern}, pattern index:{pattern_index}, matches: {match.shape[0]}\n')
  ############################### #end tetsing ###############################
            match_index = match.index[0]
            dict_sold_products[description]['price']=match.at[match_index,'price']
            df_match_target.drop(match_index,axis=0,inplace=True)
          elif match.shape[0]>1:
            ############################### #TESTING ###############################
            logfile.write(f'{sep}\n\t\t\tMULTIPLE MATCHES FOUND\n{sep}\n')
            logfile.write(f'pattern: {pattern}, pattern index: {pattern_index}, matches: {match.shape[0]}\n')
  ############################### #end tetsing ###############################
          # if length of used patterns equals length of description items and number of results is more than one - keep track of that product
            multiple_match_sales.append({'description':description,'matche_indices':list(match.index)})
            match_index = match.index[0]
            # dict_sold_products[description]['price']=match.at[match_index,'price']
            df_match_target.drop(list(match.index),axis=0,inplace=True)
          # else track product index
          elif match.shape[0]<1:
            ############################### #TESTING ###############################
            logfile.write(f'{sep}\n\t\t\tNO MATCHES FOUND\n{sep}\n')
            # logfile.write('pattern:',pattern,'pattern index:',pattern_index,'matches:', match.shape[0]\n')
  ############################### #end tetsing ###############################
            unmatched_sales.append(description)
          # breaking from looping over the item caegories
          del pattern
          del match
        #handling no matching categories
        else:
          items_without_description.append(description)
        logfile.write(f'iteration: {counter}\n')
        counter+=1
        logfile.write(f'unmatched items: {len(unmatched_sales)}\nMultiple matches: {len(multiple_match_sales)}\n\n END ITERATION\n{sep}\n')
      except Exception as e:
        print('exception occured')
        import traceback
        errlog.writelines([f'{sep}\nERROR\n{sep}',traceback.format_exc()
                          ])
        raise e

In [16]:
import pickle
pickle.dump(unmatched_sales,open('data/unmatched_sales2.p','wb'))
pickle.dump(multiple_match_sales,open('data/multiple_match_sales2.p','wb'))
# pickle.dump(items_without_description,open('data/items_without_description2.p','wb'))
pickle.dump(dict_sold_products,open('data/dict_sold_products2.p','wb'))

In [ ]:
#timeit time the execution of the algorithm
#turn into a module and run seperately